
h1{
    font-family: "	Copperplate", "Papyrus", Fantasy;
    background-color: rgb(123, 123, 161);
    font-weight: 500;
    font-size: 100px;
    }
    body{
    
    background-color: #cccccc
    
    }
    